body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: 'Work Sans';
}

.App {
  height: 100vh;
}

.Home {
  height: 100vh;
  background-color: #1D2C44;
}

.Recommend {
  height: 100vh;
  background-color: #1D2C44;
}

.Reco {
  height: 100vh;
  background-color: #1D2C44;
}